*{
	margin:0;
	padding:0;
}
a{
    color:white;
    text-decoration: none;
}
header{
	width:100%;
	
}

header #navbar{
	width:100%;
	display:flex;
	background: #4d4d4d;
}

header #navbar .container{
	width:100%;
	display:flex;
	
}

header #navbar .container h1{
	width:80%;
	
	
}

header #navbar .container ul{
	width:20%;
	display:flex;
	float:right;
	align-items:center;
	text-align:center;
	justify-content:center;
	
}

header #navbar .container ul li{
	width:50%;
	list-style: none;
	margin-right:3rem;
	
}

header #navbar .container ul li a{
	display:block;
}

header #navbar .container ul li a:hover,
header #navbar .container ul li a.current{
    background:#555;
    color:white;

}
#menu{
	width:100%;	
	
}

#menu table{
	width:50%;
margin-left: auto;
  margin-right: auto;	
}
 #menu table tr{
width:100%;	
}

#menu table .primo td{
	width:33%;
}

#menu table .secondo td{
	width:50%;
}
#menu table tr td img{
	width:225px;
	height:200px;
}

a{
	color:blue;
}

.modal-body{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-top: 60px;
}