@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
}

body{
	width:100%;
}

#intestazione{
	width:100%;
	display:flex;
}

#intestazione .home{
	width:30%;
}

#intestazione .home img{
	width:60%;
}

#intestazione .title{
	width:70%;
	margin-left:20%;
	margin-top:3%;
	
}



#details{
	width:100%;
	display:flex;
}

#details .left{
	width:50%;
	
}


#details .left .foto {
	width:100%;
}

#details .left .foto img{
	width:75%;
}


#details .right{
	width:50%;
	
	margin-top:8%;
	
}
#details .right .dispo {
	width:100%;
}

#details .right .descr {
	width:100%;
}
#details .right .addcart {
	width:100%;
	text-align:center;
}